<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <h2>Personal Info</h2>
    <form id="personalDataForm" #form="ngForm" (ngSubmit)="(onSubmit)">
      <label for="name" required minlength="3">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="user.name" />

      <label for="lastName">Last Name:</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        [(ngModel)]="user.lastName"
        minlength="3"
      />

      <label for="birthDate">Date of Birth:</label>
      <input
        type="date"
        id="birthDate"
        name="birthDate"
        [(ngModel)]="user.dateOfBirth"
      />

      <label for="gender">Gender:</label>
      <input
        type="radio"
        id="male"
        name="gender"
        value="male"
        [(ngModel)]="user.gender"
      />
      <label for="male">Male</label>

      <input
        type="radio"
        id="female"
        name="gender"
        value="female"
        [(ngModel)]="user.gender"
      />
      <label for="female">Female</label>

      <input
        type="radio"
        id="other"
        name="gender"
        value="other"
        [(ngModel)]="user.gender"
      />
      <label for="other">Other</label>

      <input
        type="radio"
        id="preferNotToMention"
        name="gender"
        value="preferNotToMention"
        [(ngModel)]="user.gender"
      />
      <label for="preferNotToMention">Rather not Disclose</label>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" />

      <label>
        <input type="checkbox" id="newsletter" name="newsletter" />
        Would You Like to Sign Up For Our Newsletter?
      </label>

      <button type="submit">Next step</button>
    </form>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h2>Access</h2>
    <form id="accessDataForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ngModel />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel />

      <label for="repeatPassword">Repeat Password:</label>
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        ngModel
      />

      <label for="accountType">Tier:</label>
      <select id="accountType" name="accountType" ngModel>
        <option value="personal">Personal</option>
        <option value="pro">Pro</option>
        <option value="business">Business</option>
      </select>

      <button type="submit">Next</button>
    </form>
    {{ user | json }}
  </body>
</html>
